.btn1{
    &,&:link,&:visited{
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        border-radius: 100rem;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
    }
    &:hover{
        color: $color-grey;
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after{
            transform: scale(1.5);
            opacity: 0;
        }
    }
    &:active,&:focus{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
        outline: none;
    }
    &--white{
        background-color: $color-white;
        color: $color-grey;
        border-radius: 10rem;
        &::after{
            background-color:$color-white;
        }
    }
    &--green{
        background-color: $color-primary;
        color: $color-white;
        border-radius: 10rem;
        &::after{
            background-color:$color-primary;
        }
        &:hover{
            color: $color-white;
        }
    }
    &::after{
        display: inline-block;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0rem;
        left: 0rem;
        transition: all 0.4s;
        z-index: -1;
    }
    &--animated{
        animation: MoveInBottom 1s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}
.btn1-text{
    &:link,&:visited {
        display: inline-block;
        color: $color-primary;
        text-decoration: none;
        font-size: 1.6rem;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }
    &:hover{
        background-color: $color-primary;
        color: white;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        transform: translateY(0);
    }
}