$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-blue-light:rgb(58, 166, 220);
$color-blue-dark:rgb(34, 85, 157);

$color-red-light:rgb(248, 77, 77);
$color-red-dark:rgb(204, 28, 28);

$color-white:#fff;
$color-grey:#777;
$color-grey-3:#333333;
$color-light-grey2: #eee;
$color-black:#000;
$color-light-grey: #f7f7f7;